* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.objetivo {
    width: 100%;
    height: 100vh;
}

.objetivo1 {
    background-color: red;
}

.objetivo2 {
    background-color: aquamarine;
}