* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --objetivo-1: #eb1c2d;
    --objetivo-2: #d3a029;
    --objetivo-3: #279b48;
    --objetivo-4: #c42235;
    --objetivo-5: #ef4128;
    --objetivo-6: #06add9;
    --objetivo-7: #fcc30b;
    --objetivo-8: #8f1838;
    --objetivo-9: #f36e29;
    --objetivo-10: #e11284;
    --objetivo-11: #f99e29;
    --objetivo-12: #cf8e2a;
    --objetivo-13: #4a7940;
    --objetivo-14: #1c97d3;
    --objetivo-15: #59ba47;
    --objetivo-16: #02558b;
    --objetivo-17: #183668;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.objetivos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.objetivos__container {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.objetivo__container {
    width: 16rem;
    height: 16rem;
    display: flex;
}

.objetivo {
    width: 100%;
    height: 110vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 6rem;

    color: #fff;
}

.objetivos__objetivo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.objetivos__objetivo:hover {
    transform: scale(0.97);
}

.objetivos__objetivo--svg {
    width: 50%;
    height: 50%;
}

.objetivos__number {
    font-size: 2rem;
    font-weight: bold;
}

.objetivos__objetivo--container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.objetivos__objetivo--titulo {
    text-align: center;
    font-weight: bold;
}

.objetivo__title {
    font-size: 5rem;
}

.objetivo__subtitle {
    font-size: 2rem;
}

.objetivo__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.objetivo__p {
    width: 75%;
    font-size: 1.5rem;
}

.objetivo__buttons {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

.objetivo__button {
    max-width: fit-content;
    padding: 2rem 5rem;
    font-size: 1.7rem;
    border: 0.3rem solid #fff;
    border-radius: 3rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.objetivo__button:hover {
    background-color: #fff;
}

.objetivo1 {
    background-color: var(--objetivo-1);
}

.objetivo__button--1:hover {
    color: var(--objetivo-1);
}

.objetivo2 {
    background-color: var(--objetivo-2);
}

.objetivo__button--2:hover {
    color: var(--objetivo-2);
}

.objetivo3 {
    background-color: var(--objetivo-3);
}

.objetivo__button--3:hover {
    color: var(--objetivo-3);
}

.objetivo4 {
    background-color: var(--objetivo-4);
}

.objetivo__button--4:hover {
    color: var(--objetivo-4);
}

.objetivo5 {
    background-color: var(--objetivo-5);
}

.objetivo__button--5:hover {
    color: var(--objetivo-5);
}

.objetivo6 {
    background-color: var(--objetivo-6);
}

.objetivo__button--6:hover {
    color: var(--objetivo-6);
}

.objetivo7 {
    background-color: var(--objetivo-7);
}

.objetivo__button--7:hover {
    color: var(--objetivo-7);
}

.objetivo8 {
    background-color: var(--objetivo-8);
}

.objetivo__button--8:hover {
    color: var(--objetivo-8);
}

.objetivo9 {
    background-color: var(--objetivo-9);
}

.objetivo__button--9:hover {
    color: var(--objetivo-9);
}

.objetivo10 {
    background-color: var(--objetivo-10);
}

.objetivo__button--10:hover {
    color: var(--objetivo-10);
}

.objetivo11 {
    background-color: var(--objetivo-11);
}


.objetivo__button--11:hover {
    color: var(--objetivo-11);
}

.objetivo12 {
    background-color: var(--objetivo-12);
}

.objetivo__button--12:hover {
    color: var(--objetivo-12);
}

.objetivo13 {
    background-color: var(--objetivo-13);
}

.objetivo__button--13:hover {
    color: var(--objetivo-13);
}

.objetivo14 {
    background-color: var(--objetivo-14);
}

.objetivo__button--14:hover {
    color: var(--objetivo-14);
}

.objetivo15 {
    background-color: var(--objetivo-15);
}

.objetivo__button--15:hover {
    color: var(--objetivo-15);
}

.objetivo16 {
    background-color: var(--objetivo-16);
}

.objetivo__button--16:hover {
    color: var(--objetivo-16);
}

.objetivo17 {
    background-color: var(--objetivo-17);
}

.objetivo__button--17:hover {
    color: var(--objetivo-17);
}